<div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Редактирование типа документа</h4>
            <p class="card-category">(*) - поля обязательные для ввода</p>
        </div>
        <div class="card-body">
            <form [formGroup]="tempDoctypeFormData" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group bmd-form-group">
                            <label>Id</label>
                            <input type="text" class="form-control" formControlName="id" >
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group bmd-form-group">
                            <label>Тип документа(*)</label>
                            <input  type="text" class="form-control"  formControlName="title">
                            <div class="alert alert-danger small" *ngIf="tempDoctypeFormData.controls['title'].invalid &&
                                                                tempDoctypeFormData.controls['title'].touched"
                            >
                                Не указан тип документа.
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary pull-right" >Сохранить</button>
                <div class="clearfix">
                    <a href="/doctypes">вернуться к списку типов документа</a>
                </div>
            </form>
        </div>
    </div>
</div>
